@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
:root{
    --purple:#525CE4;
    --black:#474554;
    --green:#00BF8A;
    --red:#FF5B60;
    --white:#f1f1f1;

}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color:var(--purple) ;
    position: relative;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.bg-red{
    background-color: var(--red);
}
.bg-green{
    background-color: var(--green);
}
.page{
    color: var(--black);
    padding: 30px 36px;
    border-radius: 36px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    height: 90%;
    width: 1100px;
    background-color: var(--white);
    overflow-y: scroll;
    z-index: 0;
}
.page::-webkit-scrollbar{
    display: none;
}
form{
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2rem;
    position: absolute;
    box-shadow: 0px 0px 3px rgba(0, 0,0,0.3);
    color:var(--black);
    background-color: var(--white);
    height: fit-content;
    width: fit-content;
    padding: 30px 30px;
        padding-bottom: 30px;
    border-radius: 18px;
    z-index: 10;
}#form p{
    font-weight: 500;
}
#form input{
    width:400px;
    padding: 2px 5px;
    padding-top: 15px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: none;
    border-bottom:2px solid var(--black)
}
#form .form-action{
    margin-top: 20px;
    /* background-color: #00BF8A; */
    display: flex;
    justify-content: flex-end;
}
#form .form-action button{
    margin-left: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 9px;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
button:hover{
    filter: brightness(.9555);
}
button:active{
    filter: brightness(1);
}
.title{
    display: flex;
    align-items: center;
    /* background-color: #00BF8A; */
    height: fit-content;
}
.title>i{
    font-size: 2rem;
    margin-top: 3px;
    cursor: pointer;
}
.project{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #00BF8A; */
}
.pro-card{
    position: relative;
    margin: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 450;
    display: grid;
    place-content: center;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0px 0px 3px rgba(0, 0,0,0.3);
    /* background-color: var(--green); */
    width: 300px;
    height: 150px;
    text-align: center;
}
.pro-card>label{
    top: 5px;
    left: 5px;
    position: absolute;
    font-size: 1.1rem;
    opacity: .5;
    font-weight: 400;

}
.pro-card:hover{
    transform: translateY(-1px);
}
.pro-card:active{
    transform: translateY(1px);
}